@using Valeo.Lang;
@{
    Layout = null;
}

<script src="~/Scripts/forms/EasyuiVerification.js"></script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="padd10new">
        <form id="userAddForm" action="/User/AddSave" class="easyui-form" method="post" >
            <table>
                <tr style="display: none;">
                    <td class="title95">@BaseRes.USE_ADD_001</td>
                    <td>

                        <input type="text" id="UserName" name="UserName" value="" class="easyui-textbox filewidth"  />
                        <span style="color: #ff0000">*</span>
                    </td>
                    <td class="title95"></td>
                    <td>
                   
                    </td>
                </tr>
                <tr>
                    <td class="title95">@BaseRes.USE_ADD_002</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="UserId" name="UserID" value="" data-options="required:true,validType:'length[0,64]'" />
                        <span style="color: #ff0000">*</span>
                    </td>

                    <td class="title95">@BaseRes.USE_ADD_003</td>
                    <td>
                        <select name="UserGradeID" class="easyui-combobox filewidth" id="UserGradeID" data-options="editable:false">
                            @{var userGrades = (List<Valeo.Domain.UserGrade.UserGradeModelVM>) ViewBag.UserGrades;}
                            @foreach (var item in userGrades)
                            {
                                <option value="@item.UserGradeID">@item.UserGrade</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="title95">@BaseRes.USE_ADD_004</td>
                    <td>
                        <input type="password" class="easyui-textbox filewidth" id="Password" name="Password" value="" data-options="required:true,validType:['PASS','length[0,64]']" />
                        <span style="color: #ff0000">*</span>
                    </td>
                    <td class="title95">@BaseRes.USE_ADD_005</td>
                    <td>
                        <input type="password" class="easyui-textbox filewidth" id="Password1" name="Password1" value="" data-options="required:true,validType:['PASS','equals[\'#Password\']',' length[0,64]']" />
                        <span style="color: #ff0000">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="title95" valign="top">@BaseRes.USE_ADD_006</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="" name="FullName_En" value="" data-options="validType:['length[0,32]']" />
                    </td>
                    <td class="title95">@BaseRes.USE_ADD_007</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="" name="FullName_Tm" value="" data-options="validType:['length[0,32]']" />
                    </td>
                </tr>
                <tr>
                    <td class="title95" valign="top">@BaseRes.USE_ADD_008</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="" name="FullName_Cn" value="" data-options="validType:['length[0,32]']" />
                    </td>
                    <td class="title95">@BaseRes.USE_ADD_009</td>
                    <td>
                        <input type="text" class="easyui-validatebox easyui-textbox filewidth" id="" name="Email" value="" data-options="required:true,validType:['Emile','length[0,64]']" />
                        <span style="color: #ff0000">*</span>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td class="title95" valign="top">@BaseRes.USE_ADD_010</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="" name="Tel" value="" data-options="validType:['length[0,32]']" />
                    </td>
                    <td class="title95">@BaseRes.USE_ADD_011</td>
                    <td>
                        <input type="text" class="easyui-textbox filewidth" id="" name="MobilePhone" value="" data-options="validType:['length[0,32]']" />
                    </td>
                </tr> 
                <tr>
                    <td class="title95" valign="center" align="center">
                        @BaseRes.USE_ADD_012
                    </td>
                    <td>
                        <select name="Status" class="easyui-combobox filewidth" id="FedexArea" data-options="editable:false">
                            <option value="1" selected="selected">@BaseRes.USE_COL_012</option>
                            <option value="0">@BaseRes.USE_COL_013</option>
                        </select>
                    </td>
                    <td class="title95">&nbsp;</td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="title95" valign="center" align="center">
                        @BaseRes.USE_ADD_013
                    </td>
                    <td colspan="3">
                        <textarea name="Remark" class="easyui-validatebox" style="width: 99%;" rows="5" maxlength="256"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
        <a class="easyui-linkbutton width80" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="addUser()">保存</a>
        <a class="easyui-linkbutton width80" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeDialog()">取消</a>
    </div>
</div>

<script>
 
    function addUser() {
        if (!$("#userAddForm").form('validate')) {
            return false;
        }
        if ($('#UserId').val().replace(/(^s*)|(s*$)/g, "").length == 0) { 
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '@(BaseRes.USE_MSG_021)', 'info', function () { 
                    $("input", $("#UserId").next("span")).focus(); 
            }); 
            return false;
        }
        if ($('#Password').val().replace(/(^s*)|(s*$)/g, "").length == 0) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '@(BaseRes.USE_MSG_011)', 'info', function () {
                $("input", $("#Password").next("span")).focus();
            }); 
            return false;
        }
        if ($('#Password').val() != $('#Password1').val()) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '@(BaseRes.USE_MSG_012)', 'info', function () {
                $("input", $("#Password").next("span")).focus();
            });
          
            return false;
        }
        submitForm("userAddForm");
    } 
</script>