@using Valeo.Domain.Product;
@using Valeo.Lang;
@model ProductModel
 
@{
    Layout = null;
}
<script src="~/Scripts/forms/EasyuiVerification.js"></script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="padd10new">
        <div class="paddl30">
            <form id="EditProductForm" action="/Product/EditSave" class="easyui-form" method="post">
                <table cellpadding="5">
                    <tr>
                        <td class="title95">@(BaseRes.PRO_EDT_001):</td>
                        <td><input class="easyui-textbox filewidth_n" type="text" readonly="readonly" name="ProductId" value="@Model.ProductID" ></td>
                        <td class="title95">@(BaseRes.PRO_EDT_002):</td>
                        <td>
                            <select name="bigType" id="bigType" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.BigType == 0 ? "selected=selected" : "") value="0">@(BaseRes.PRO_EDT_003)</option>
                                <option @(Model.BigType == 1 ? "selected=selected" : "") value="1">@(BaseRes.PRO_EDT_004)</option>
                                <option @(Model.BigType == 2 ? "selected=selected" : "") value="2">@(BaseRes.PRO_EDT_005)</option>
                            </select>
                        </td>
                        <td class="title95">可用会员:</td>
                        <td rowspan="18" colspan="2">
                            <div style=" height:380px; overflow-y:scroll; ">
                                <table cellpadding="0" cellspacing="0" class="table_new">
                                    <tr>
                                        <th width="20%">@(BaseRes.PRO_EDT_043)</th>
                                        <th width="80%">@(BaseRes.PRO_EDT_044)</th>
                                    </tr>
                                    @{var memberGrades = (List<Valeo.Domain.MemberGrade.MemberGradeModel>)ViewBag.MemberGrades;
                                    var productGrades = (List<Valeo.Domain.MemberSetMealRelation.MemberSetMealRelationModel>)ViewBag.ProductGrades;
                                    }
                                    @foreach (var item in memberGrades)
                                    {
                                        var productGrade = productGrades.FirstOrDefault(o => o.MemberGradeID == item.MemberGradeID);
                                        <tr>
                                            <td><input type="checkbox" name="memberGradeIds" value="@item.MemberGradeID" @(productGrade != null ? "checked=checked" : "") /></td>
                                            <td>@item.MemberGrade</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title95">产品名称:</td>
                        <td><input class="easyui-textbox filewidth_n" type="text" name="ProductName" id="ProductName" value="@Model.ProductName" data-options="required:true,validType:['EmptyString','length[0,64]']"></td>
                        <td class="title95">产品类型:</td>
                        <td>
                            <select name="SmallType" id="SmallType" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.SmallType == 0 ? "selected=selected" : "") value="0">@(BaseRes.PRO_EDT_008)</option>
                                <option @(Model.SmallType == 1 ? "selected=selected" : "") value="1">@(BaseRes.PRO_EDT_009)</option>
                                <option @(Model.SmallType == 2 ? "selected=selected" : "") value="2">@(BaseRes.PRO_EDT_010)</option>
                                <option @(Model.SmallType == 3 ? "selected=selected" : "") value="3">@(BaseRes.PRO_EDT_011)</option>
                                <option @(Model.SmallType == 4 ? "selected=selected" : "") value="4">@(BaseRes.PRO_EDT_012)</option>
                            </select>
                            <!-- 0:法庭 1:公司 2:土地 3:信贷 4:公共-->
                        </td>
                    </tr>
                    <tr> 
                        <td class="title95">@(BaseRes.PRO_EDT_014):</td>
                        <td>
                            <select name="Currency" id="AddCurrency" class="easyui-combobox filewidth" data-options="editable:false">
                                @{var currencys = (List<Valeo.Domain.Parameter.ParameterModel>)ViewBag.Currencys;}
                                @foreach (var item in currencys)
                                {
                                    <option @(Model.Currency == item.Paramvalue ? "selected=selected" : "") value="@item.Paramvalue">@item.Paramvalue</option>
                                }
                            </select>

                        </td>
                        <td class="title95">@(BaseRes.PRO_EDT_013):</td>
                        <td><input class="easyui-numberbox filewidth_n" type="text" name="Price" id="Price" value="@Model.Price" data-options="required:true,min:0,precision:2,max:999999"><b class="unitCurrency">$</b></td>
                    </tr>
                    <tr>
                        <td class="title95">折扣:</td>
                        <td><input class="easyui-numberbox filewidth_n" type="text" name="Discount" id="Discount" value="@Model.Discount" data-options="required:true,min:0,precision:0,max:100">%</td>
                        <td class="title95">折扣单价:</td>
                        <td><input class="easyui-numberbox filewidth_n" type="text" name="DiscountPrice" id="DiscountPrice" value="@Model.DiscountPrice" data-options="min:0,precision:2" readonly="readonly"><b class="unitCurrency">$</b></td>

                    </tr>
                    <tr>
                        <td class="title95">@(BaseRes.PRO_EDT_015):</td>
                        <td><input class="easyui-numberbox filewidth_n" type="text" name="Validity" value="@Model.Validity" data-options="min:0,precision:0,max:99">@(BaseRes.PRO_EDT_016)</td>
                        <td class="title95" id="tdAgeLimit1"><input type="radio" name="AgeLimit" value="0" style="width: 20px;" @(Model.AgeLimit == 0 ? "checked=checked" : "")>@(BaseRes.PRO_EDT_017)</td>
                        <td id="tdAgeLimit2"><input type="radio" name="AgeLimit" value="1" style="width: 20px;" @(Model.AgeLimit == 1 ? "checked=checked" : "")>@(BaseRes.PRO_EDT_018)</td>
                    </tr>
                    <tr>
                        <td class="title95">是否显示:</td>
                        <td>
                            <select name="Show" id="aisShow" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.Show == 0 ? "selected=selected" : "") value="0">不显示</option>
                                <option @(Model.Show == 1 ? "selected=selected" : "") value="1">显示</option>
                            </select>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="trSeachAndRecord">
                        <td class="title95">查询内容:</td>
                        <td>
                            <select name="SeachType" id="SeachType" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.SeachType == 1 ? "selected=selected" : "") value="1">@(BaseRes.PRO_EDT_020)</option>
                                <option @(Model.SeachType == 2 ? "selected=selected" : "") value="2">@(BaseRes.PRO_EDT_021)</option>
                                <option @(Model.SeachType == 3 ? "selected=selected" : "") value="3">@(BaseRes.PRO_EDT_022)</option>
                                <option @(Model.SeachType == 4 ? "selected=selected" : "") value="4">@(BaseRes.PRO_EDT_023)</option>
                            </select>
                            <!--1:土地查册 2:注册摘要 3;注册摘要表格 4:其他-->
                        </td>
                        <td class="title95" id="tdRecord1">记录类别:</td>
                        <td id="tdRecord2">
                            <select name="RecordType" id="RecordType" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.RecordType == 1 ? "selected=selected" : "") value="1">@(BaseRes.PRO_EDT_025)</option>
                                <option @(Model.RecordType == 2 ? "selected=selected" : "") value="2">@(BaseRes.PRO_EDT_026)</option>
                            </select>
                            <!--1:全部记录 2:现实记录-->
                        </td>
                    </tr>
                    <tr id="trPeopleCount">
                        <td class="title95">人数:</td>
                        <td><input class="easyui-numberbox filewidth_n" type="text" name="PeopleCount" value="@(Model.PeopleCount)" data-options="min:1,precision:0,max:99999"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr id="trReport">
                        <td class="title95">报告类别:</td>
                        <td>
                            <select name="IntReportTypes" id="ReportType" class="easyui-combobox filewidth" data-options="editable:false,multiple:true,panelHeight:'200'">
                                <option value="0">@(BaseRes.PRO_EDT_028)</option>
                                <option value="1">@(BaseRes.PRO_EDT_029)</option>
                                <option value="2">@(BaseRes.PRO_EDT_030)</option>
                                <option value="3">@(BaseRes.PRO_EDT_031)</option>
                                <option value="4">@(BaseRes.PRO_EDT_032)</option>
                                <option value="5">@(BaseRes.PRO_EDT_033)</option>
                                <option value="6">@(BaseRes.PRO_EDT_034)</option>
                                <option value="7">@(BaseRes.PRO_EDT_035)</option>
                                <option value="8">@(BaseRes.PRO_EDT_036)</option>
                                @*<option value="9">@(BaseRes.PRO_EDT_037)</option>*@
                                <option value="10">@(BaseRes.PRO_EDT_038)</option>
                                <option value="11">@(BaseRes.PRO_EDT_039)</option>
                                <option value="12">@(BaseRes.PRO_EDT_040)</option>
                                <option value="13">@(BaseRes.PRO_EDT_041)</option>
                                <option value="14">@(BaseRes.PRO_EDT_042)</option>
                            </select>
                            <!--报告类别：(离线公司会用到)公司:
                            0:最近公司年报，
                            1:组织章程大纲及章程细则，
                            2:公司注册证书，
                            3:公司年报-特别指明年份（需手动输入），
                            4:抵押（需注明年份），
                            5:有效地商业/分行登记证核证副本，
                            6:其他，
                            7:商业登记册内资料摘录的核证本，
                            8:商业登记册内资料摘录的电子摘录，
                            9:组织规章大纲及章程细则
                            10:有效地商业/分行登记证核证副本，
                            11:公司强制性清盘案记录查册）
                            12:破产案查册，
                            13:有限公司董事查册，
                            14:其他
                            )-->
                        </td>
                        <td> </td>
                        <td></td>
                    </tr>
                    <tr id="trLender">
                        <td class="title95">查询内容:</td>
                        <td>
                            <select name="LenderType" id="LenderType" class="easyui-combobox filewidth" data-options="editable:false">
                                <option @(Model.LenderType == 0 ? "selected=selected" : "") value="0">财务</option>
                                <option @(Model.LenderType == 1 ? "selected=selected" : "") value="1">证券</option>
                            </select>
                            <!--财务:0/证券:1)-->
                        </td>
                        <td> </td>
                        <td></td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr><td>&nbsp;</td></tr>
    
                </table>
            </form>

        </div>
    </div>
    <div data-options="region:'south',border:false" style="text-align: right; padding: 5px 0 0;">
        @if ((bool) ViewBag.IsEdit)
        {
            <a class="easyui-linkbutton width80" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="addProduct()">@(BaseRes.PRO_EDT_045)</a>
            <a class="easyui-linkbutton width80" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeDialog()">@(BaseRes.PRO_EDT_046)</a>
        }
        else
        {
            <a class="easyui-linkbutton width80" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeDialog()">关闭</a>
        }
        
    </div>
</div>
<script>
    function BigTypeChange() {
        var bigTypeValue = $('#bigType').combobox('getValues');
        if (bigTypeValue == '0') {
            $('#SmallType').combobox({
                data: [
                    { value: 0, text: '法庭' },
                    { value: 1, text: '公司' },
                    { value: 2, text: '土地' },
                    { value: 3, text: '信贷' },
                    { value: 4, text: '公共' }
                ]
            });
        } else if (bigTypeValue == "1") {
            $('#SmallType').combobox({
                data: [
                    { value: 0, text: '法庭' },
                    { value: 1, text: '公司' },
                    { value: 2, text: '土地' },
                    { value: 5, text: '其他' }
                ]
            });
        } else {
            $('#SmallType').combobox({
                data: [
                    { value: 0, text: '法庭' }
                ]
            });
        }
        $('#SmallType').combobox("setValue", 0);
    }
    function SetSmallType() {
        $('#SmallType').combobox("setValue", @(Model.SmallType));
    }
    pageToken = 0;
    function addProduct() {

        if (!$("#EditProductForm").form('validate')) {
            return false;
        }
        if ($('#ProductName').val().replace(/^\s*|\s*$/g, "").length == 0) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '产品名称不能为空！');
            $("input", $("#ProductName").next("span")).focus();
            return false;
        }
        var chkValue = [];
        $('input[name="memberGradeIds"]:checked').each(function () {
            chkValue.push($(this).val());
        });
        if (chkValue.length == 0) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '至少要选择一个会员级别！');
            return false;
        }
        if (pageToken) { 
            return false;
        } else {
            pageToken = 1;
        }
        submitForm("EditProductForm");
    }
    function SetReportType() {
        $('#ReportType').combobox('setValues', '@(Model.ReportType)'.split(','));
    }

</script>

