@using Valeo.Domain.Common
@using Valeo.Domain.Enum
@using Valeo.Domain.User;
@using Valeo.Lang;
@using Valeo.Domain.Valeo;
@model v_customer
@{
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>客户管理</title>
</head>
<body>
    <div class="mar10" data-options="fit:true,plain:true">
        <div class="padd10">
            <div class="easyui-panel" title="查询条件" style="width: 99%; padding: 10px; margin-bottom: 10px;">
                <form id="SearchFormCustomer">
                    <table>
                        <tr>
                            <td class="title95">客户编号</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="customerNo" name="customerNo" data-options="validType:['length[0,64]']" />
                            </td>
                            <td class="title95">客户名称</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="customerName" name="customerName" data-options="validType:['length[0,128]']" />
                            </td>
                            <td class="title95">联系人</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="contacts" name="contacts" data-options="validType:['length[0,64]']" />
                            </td>
                            <td class="title95">电话</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="tel" name="tel" data-options="validType:['length[0,64]']" />
                            </td>
                        </tr>
                    </table>
                    <div class="textcenter">
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Search))
                        {
                            <a href="javascript:void(0)" id="btnSerach" class="easyui-linkbutton c6 width70">@BaseRes.USE_SEA_007</a>
                        }
                        <a href="javascript:void(0)" id="btnSerachReset" class="easyui-linkbutton c9 width70">重置</a>
                    </div>
                </form>
            </div>
            <table id="dtGrid1" title="查询结果" style="width: 99%;"></table>
        </div>
    </div>
    <div id="editdlg" class="easyui-dialog" style="width:600px;height:400px;padding:5px;" data-options="
				iconCls: 'icon-save',
				toolbar: '#dlg-toolbar',
				buttons: '#dlg-buttons',
				closed:true,maximized:true
			">
    </div>
    <div id="showPicture" class="easyui-window" title="显示图片" style="width:800px;height:600px;padding:5px;" data-options="modal:true,closed:true,iconCls:'icon_webedite'">
    </div>
    <script type="text/javascript">


        ///
        ///isdisable:0 enable,1:disable
        ///
        function disablelinkbutton(btnName, isdisable) {

            try {
                var btn = $(btnName).linkbutton();
                if (isdisable) {
                    btn.linkbutton('disable');
                } else {
                    btn.linkbutton('enable');
                }
            } catch (e) {
                console.log(e);
            }
        }
        function closeDialog() {
            $('#editdlg').dialog('close');
            $('#dtGrid1').datagrid('reload');
        }
        function toParsModel(serializeArray) {
            ///serializeArray=[{name:'name',value:'value'},......]
            var model = {};
            try {
                for (i = 0; i < serializeArray.length; i++) {
                    var item = serializeArray[i];
                    model[item.name] = item.value;
                };
            } catch (e) {
                console.log(e);
            }

            return model;
        }
        function submitForm(formId, btn, modelsDetails) {
            try {
                var submitform = $('#' + formId);
                var model = toParsModel(submitform.serializeArray());

                console.log("*****************submitForm*****************")
                console.log(model)
                console.log(modelsDetails)
                $.ajax({
                    type: 'POST',
                    url: submitform.attr('action'),
                    data: { model: model, modelsDetails: modelsDetails },
                    success: function (data) {
                        disablelinkbutton(btn, 0)

                        if (data.result) {
                            $.messager.alert('提示信息 ', data.Msg, 'info', function () {
                                submitform[0].reset();
                                closeDialog();
                                _v_customer.loadData(1);
                            });
                        } else {
                            $.messager.alert('提示信息 ', data.Msg, 'error');
                        }
                    },
                    error: function (e) {
                        console.log(e);
                        disablelinkbutton(btn, 0)
                        $.messager.alert('提示信息 ', "服务器没有响应", 'error');
                    }
                });
            } catch (e) {
                console.log(e);
                disablelinkbutton(btn, 0)
            }

        }
        var _v_customer = {
            _dg: $('#dtGrid1'),
            _formSearch: $('#SearchFormCustomer'),
            _dgKey: "customerNo",
            _dgUrl: "/CustomerManage/Page?",
            _showAddHref: "/CustomerManage/Add",
            _showEditHref: "/CustomerManage/Edit",
            _deleteListHref: "/CustomerManage/Deletes",
            _deleteOneHref: "/CustomerManage/Deletes",
            _dgCols: [
                { field: 'ck', hidden: true, checkbox: true },
                {
                    field: 'customerNo', title: '客户编号', align: 'center', width: 100, sortable: true
                }, {
                    field: 'customerName', title: '客户名称', align: 'center', width: 100, sortable: true
                }, {
                    field: 'tel', title: '电话', align: 'center', width: 100, sortable: true
                }, {
                    field: 'fax', title: '传真', align: 'center', width: 100, sortable: true
                }, {
                    field: 'contacts', title: '联系人', align: 'center', width: 100, sortable: true
                }, {
                    field: 'address', title: '地址', align: 'center', width: 100, sortable: true
                }, {
                    field: 'remark', title: '备注', align: 'center', width: 100
                }
            ],
            showAdd: function (title) {
                var _curr = _v_customer;
                $('#editdlg').dialog({
                    method: 'get',
                    queryParams: undefined,
                    title: title,
                    closed: false,
                    cache: false,
                    href: _curr._showAddHref,
                    iconCls: "icon-add",
                    modal: true
                });
            },
            showEdit: function (title, flag) {
                var _curr = _v_customer;
                var selectRows = _curr._dg.datagrid('getSelected');
                if (!selectRows) {
                    $.messager.alert('提示信息', "请选择要" + title + "的记录。");
                    return;
                }

                $('#editdlg').dialog({
                    method: 'get',
                    queryParams: { id: selectRows[_curr._dgKey], id2: flag },
                    title: title,
                    closed: false,
                    cache: false,
                    href: _curr._showEditHref,
                    iconCls: "icon-edit",
                    modal: true
                });
            },
            deleteList: function () {
                var _curr = _v_customer;
                var checkedrows = _curr._dg.datagrid('getChecked');
                if (checkedrows.length == 0) {
                    $.messager.alert('提示信息', "请选中要删除的记录");
                    return;
                }
                var para = {}
                for (var i = 0; i < checkedrows.length; i++) {
                    para["id[" + i + "]"] = checkedrows[i][_curr._dgKey];
                }
                $.messager.confirm('提示信息 ', '确定要删除选中的记录吗', function (r) {
                    if (r) {
                        $.post(_curr._deleteListHref, para, function (res) {
                            if (res.result) {
                                _curr._dg.datagrid('reload');    // reload the user data
                            } else {
                                $.messager.alert('提示信息', res.Msg);
                            }
                        }, "json");
                    }
                });
            },
            deleteOne: function (keyid) {
                var _curr = _v_customer;
                $.messager.confirm('提示信息 ', '确定要删除选中的记录吗', function (r) {
                    if (r) {
                        $.post(_curr._deleteOne, "id=" + keyid, function (res) {
                            if (res.result) {
                                _curr._dg.datagrid('reload');
                            } else {
                                $.messager.alert('提示信息', res.Msg);
                            }
                        });
                    }
                });
            },
            //下载文件
            funDownfile: function (url, fileName) {
                var _curr = _v_customer;
                $.post("/DownloadFile/Exists", { id: url }, function (e) {
                    console.log(e);
                    if (e.type) {
                        var tmpurl = '/DownloadFile/Uploads?filePath=' + url + '&flieName=' + fileName
                        //console.log(tmpurl);
                        window.open(tmpurl);
                    } else {
                        $.messager.alert('提示信息', "文件不存在，无法下载。", 'error')
                        return;
                    }
                });
            },
            ///图片格式检查
            chkImgType: function chkImgType(value) {
                var _curr = _v_customer;
                try {
                    var reg = /\.jpg$|\.jpeg$|\.png$|\.gif$/i
                    return reg.test(value);
                } catch (error) {
                    $.messager.alert('提示信息', error, 'error');
                    return false;
                }
            },
            //显示图片
            funShowImg: function (url) {
                var _curr = _v_customer;
                var tmpUrl = "\\DownloadFile\\ShowImage?id=" + url;
                console.log(tmpUrl);
                var img = '<img id="showImg" src="' + tmpUrl + '" />';
                $('#showPicture').html(img);
                $('#showPicture').window('open')
            },
            loadData: function (urlflag, otherpars) {
                var _curr = _v_customer;
                var url = urlflag ? _curr._dgUrl + _v_customer._formSearch.serialize() : "";
                _curr._dg.datagrid({
                    url: url,
                    data: { "total": 0, "rows": [] },
                    //width: 1000,
                    //height: 400,
                    //width: ($(window).width() * 0.90),
                    height: ($(window).height()) - 170,
                    //fit:true,
                    fitColumns: true, //列自适应
                    checkbox: true,
                    nowrap: false,
                    idField: _curr._dgKey, //主键列的列名
                    loadMsg: '正在加载信息...',
                    pagination: true, //是否有分页
                    singleSelect: true,//是否单行选择
                    pageSize: 50, //每页多少条数据
                    pageNumber: 1, //默认的页
                    striped: true,
                    pageList: [50, 100, 150, 200],
                    queryParams: otherpars, //往后台传递参数
                    columns: [
                        _curr._dgCols
                    ],
                    onLoadSuccess: function (data) {
                        _curr._dg.datagrid('clearSelections');
                    },
                    toolbar: [
                            @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Create))
                            {
                            @:{ text: '@(BaseRes.USE_COL_010)', iconCls: 'icon-add', handler: function () { _curr.showAdd('新增'); } },
                            }
                            @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Edit))
                            {
                            @:{ text: '@(BaseRes.USE_COL_009)', iconCls: 'icon-edit', handler: function () { _curr.showEdit('修改', 0); } },
                            }
                            @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Search))
                            {
                            @:{ text: '@(BaseRes.OSP_CTL_161)', iconCls: 'icon_webedite', handler: function () { _curr.showEdit('查看', 1); } },
                            }
                            @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Delete))
                            {
                            @:{ text: '@(BaseRes.TSK_CTL_012)', iconCls: 'icon-remove', handler: function () { _curr.deleteList(); } }
                            }
                    ]
                });
            }
            //////start function
        }
        ///////////////////////////////end

        ///////初始化
        $(function () {
            _v_customer.loadData();
            $("#btnSerach").click(function () {
                var dd = $('#SearchFormCustomer').serialize()
                _v_customer.loadData(1);
            });
            $("#btnSerachReset").click(function () {
                $('#SearchFormCustomer').form('clear');
                //$('#SearchFormCustomer').form('load', {
                //    CustomerType: "全部"
                //});
            });
            $(window).resize(function () {
                $('#dtGrid1').datagrid('resize', {
                    height: ($(window).height()) - 170
                }).datagrid('resize', {
                    height: ($(window).height()) - 170
                });
            });

            $("#btnSerachReset").click();
        });
    </script>
</body>
</html>