@using Valeo.Lang;
@using Valeo.Domain;
@{
    Layout = null;
}

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="padd10new">
        <form id="gradeAddForms" action="/UserGrade/AddSave" method="post" >
            <table>
                <tr>
                    <td class="title95">@BaseRes.UGD_CTL_005</td>
                    <td>
                        <input type="text" class="easyui-textbox" id="UserGrade" name="UserGrade" data-options="required:true,validType:'length[1,8]'" />
                    </td>
                    <td class="title95">@BaseRes.UGD_CTL_006</td>
                    <td>
                        <select name="Status" class="easyui-combobox filewidth" panelheight="auto" data-options="editable:false" id="FedexArea">
                            <option value="1" selected="selected">@BaseRes.USE_COL_012</option>
                            <option value="0">@BaseRes.USE_COL_013</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="title95">@BaseRes.UGD_CTL_007</td>
                    <td colspan="3">
                        <table id="dataGradeList" ></table>
                    </td>

                </tr>
                <tr>
                    <td class="title95" align="center">
                        @BaseRes.UGD_CTL_008
                    </td>
                    <td colspan="3">
                        <textarea id="Remark" name="Remark" class="easyui-validatebox" style="width: 99%;" rows="3" data-options="validType:'length[0,256]'"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
        <a class="easyui-linkbutton width80" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="addGrade(false)">@BaseRes.UGD_CTL_009</a>
        <a class="easyui-linkbutton width80" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeDialog()">@BaseRes.UGD_CTL_010</a>
    </div>
</div>


<script>
    $(function () {
        loadGradeData();
    })

    function loadGradeData(pars) {
        $('#dataGradeList').datagrid({
            url: '/UserGrade/DataGrade',
            width: 400,
            height: 180,
            //width: ($(window).width() * 0.90),
            //height: ($(window).height() * 0.99) - 6,
            //fit:true,
            fitColumns: false, //列自适应
            nowrap: false,
            idField: 'Id', //主键列的列名
            loadMsg: '正在加载信息...',
            pagination: false, //是否有分页
            //singleSelect: false,//是否单行选择
            pageSize: 10, //每页多少条数据
            pageNumber: 1, //默认的页
            pageList: [10, 20, 30],
            queryParams: pars, //往后台传递参数
            columns: [
                [{
                    field: 'DataGradeID', checkbox: true, title: '选择', align: 'center'

                }, {
                    field: 'DataGrade',
                    title: '@BaseRes.UGD_CTL_001',
                    align: 'center',
                    width: 350
                }]
            ],
            onLoadSuccess: function (data) {
                $('#dataGradeList').datagrid('clearSelections');
            }
    });
    }



</script>