@using Valeo.Domain.Common
@using Valeo.Domain.Enum
@using Valeo.Domain.User;
@using Valeo.Lang;
@using Valeo.Domain.Valeo;
@model v_card
@{
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>卡板管理</title>
</head>
<body>
    <div class="mar10" data-options="fit:true,plain:true">
        <div class="padd10">
            <div class="easyui-panel" title="查询条件" style="width: 99%; padding: 10px; margin-bottom: 10px;">
                <form id="SearchFormCard">
                    <table>
                        <tr>
                            <td class="title95">卡板型号</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="cardNO" name="cardNO" data-options="validType:['length[0,64]']" />
                            </td>
                            <td class="title95">卡板尺寸</td>
                            <td>
                                <input type="text" class="easyui-textbox filewidth_n" id="cardSize" name="cardSize" data-options="validType:['length[0,128]']" />
                            </td>
                            <td class="title95">运输方式</td>
                            <td>
                                <input class="easyui-combobox" type="text" name="transType" id="transType" editable="false" data-options="
                                                                            url:'/Combox/get/transType/1',
                                                                            method:'get',
                                                                            valueField:'ComboxListKey',
                                                                            textField:'ComboxListName',
                                                                            panelHeight:'auto'" />
                            </td>
                        </tr>
                    </table>
                    <div class="textcenter">
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Search))
                        {
                            <a href="javascript:void(0)" id="btnSerach" class="easyui-linkbutton c6 width70">@BaseRes.USE_SEA_007</a>
                        }
                        <a href="javascript:void(0)" id="btnSerachReset" class="easyui-linkbutton c9 width70">重置</a>
                    </div>
                </form>
            </div>
            <table id="dtGrid1" title="查询结果" style="width: 99%;"></table>
        </div>
    </div>
    <div id="editdlg" class="easyui-dialog" style="width:600px;height:400px;padding:5px;" data-options="
				iconCls: 'icon-save',
				toolbar: '#dlg-toolbar',
				buttons: '#dlg-buttons',
				closed:true,maximized:true
			">
    </div>
    <script type="text/javascript">
        $(function () {
            loadData();
            $("#btnSerach").click(function () {
                var dd = $('#SearchFormCard').serialize()
                loadData('/CardManage/Page?' + dd);
            });
            $("#btnSerachReset").click(function () {
                $('#SearchFormCard').form('clear');
                $('#SearchFormCard').form('load', {
                    transType: -1
                });
            });
            $(window).resize(function () {
                $('#dtGrid1').datagrid('resize', {
                    height: ($(window).height()) - 170
                }).datagrid('resize', {
                    height: ($(window).height()) - 170
                });
            });
            $("#btnSerachReset").click();
        });


        function loadData(url, otherpars) {
            $('#dtGrid1').datagrid({
                url: url,
                data: { "total": 0, "rows": [] },
                //width: 1000,
                //height: 400,
                //width: ($(window).width() * 0.90),
                height: ($(window).height()) - 170,
                //fit:true,
                fitColumns: true, //列自适应
                checkbox: true,
                nowrap: false,
                idField: 'cardNO', //主键列的列名
                loadMsg: '正在加载信息...',
                pagination: true, //是否有分页
                singleSelect: true,//是否单行选择
                pageSize: 50, //每页多少条数据
                pageNumber: 1, //默认的页
                striped: true,
                pageList: [50, 100, 150, 200],
                queryParams: otherpars, //往后台传递参数
                columns: [
                    [
                        {
                            field: 'ck', hidden: true, checkbox: true
                        },
                        {
                            field: 'cardNO',
                            title: '卡板型号',
                            align: 'center',
                            width: 100, sortable: true
                        }, {
                            field: 'cardSize',
                            title: '卡板尺寸',
                            align: 'center',
                            width: 100, sortable: true
                        }, {
                            field: 'transTypeVM',
                            title: '运输方式',
                            align: 'center',
                            width: 100
                        }, {
                            field: 'remark',
                            title: '@(BaseRes.USE_COL_011)',
                            align: 'center',
                            width: 100
                        }]
                ],
                onLoadSuccess: function (data) {
                    $('#dtGrid1').datagrid('clearSelections');
                },
                toolbar: [
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Create))
                        {
                        @:{ text: '@(BaseRes.USE_COL_010)', iconCls: 'icon-add', handler: function () { showAdd('新增'); } },
                        }
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Edit))
                        {
                        @:{ text: '@(BaseRes.USE_COL_009)', iconCls: 'icon-edit', handler: function () { showEdit('修改'); } },
                        }
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Search))
                        {
                        @:{ text: '@(BaseRes.OSP_CTL_161)', iconCls: 'icon_webedite', handler: function () { showEdit('查看', 1); } },
                        }
                        @if (RoleOperate.IsOperateType(ViewBag.RoleInfo, EnumOperateType.Delete))
                        {
                        @:{ text: '@(BaseRes.TSK_CTL_012)', iconCls: 'icon-remove', handler: function () { deleteCards(); } }
                        }
                ]
            });
        }
        ///
        ///isdisable:0 enable,1:disable
        ///
        function disablelinkbutton(btnName, isdisable) {
            try {
                var btn = $(btnName).linkbutton();
                if (isdisable) {
                    btn.linkbutton('disable');
                } else {
                    btn.linkbutton('enable');
                }
            } catch (e) {
                console.log(e);
            }
        }
        function closeDialog() {
            $('#editdlg').dialog('close');
            $('#dtGrid1').datagrid('reload');
        }
        function showAdd(title) {
            $('#editdlg').dialog({
                method: 'get',
                queryParams: undefined,
                title: title,
                closed: false,
                cache: false,
                href: '/CardManage/Add',
                iconCls: "icon-add",
                modal: true
            });
        }
        function showEdit(title, flag) {

            var selectRows = $('#dtGrid1').datagrid('getSelected');
            if (!selectRows) {
                $.messager.alert('提示信息', "请选择要" + title + "的记录。");
                return;
            }

            $('#editdlg').dialog({
                method: 'get',
                queryParams: { id: selectRows.cardNO, id2: flag },
                title: title,
                closed: false,
                cache: false,
                href: '/CardManage/Edit',
                iconCls: "icon-edit",
                modal: true
            });
        }
        function deleteCards() {
            var checkedrows = $('#dtGrid1').datagrid('getChecked');
            if (checkedrows.length == 0) {
                $.messager.alert('提示信息', "请选中要删除的记录");
                return;
            }
            var para = {}
            for (var i = 0; i < checkedrows.length; i++) {
                para["id[" + i + "]"] = checkedrows[i].cardNO;
            }
            $.messager.confirm('提示信息 ', '确定要删除选中的记录吗', function (r) {
                if (r) {
                    $.post('/CardManage/Deletes', para, function (res) {
                        if (res.result) {
                            $('#dtGrid1').datagrid('reload');    // reload the user data
                        } else {
                            $.messager.alert('提示信息', res.Msg);
                        }
                    }, "json");
                }
            });
        }
        function deleteCard(cardNO) {
            $.messager.confirm('提示信息 ', '确定要删除选中的记录吗', function (r) {
                if (r) {
                    $.post('/CardManage/Deletes', "id=" + cardNO, function (res) {
                        if (res.result) {
                            $('#dtGrid1').datagrid('reload');
                        } else {
                            $.messager.alert('提示信息', res.Msg);
                        }
                    });
                }
            });
        }
    </script>
</body>
</html>