@using Valeo.Domain.User;
@using Valeo.Lang;
@model UserModel
@{

    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户密码修改</title>
    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/default/easyui.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/icon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/demo.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/index.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    
    @*<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center'" class="padd10">
         <form id="userEditForm" action="/PwdReset/Index" class="easyui-form" method="post" data-options="novalidate:true">
             <table>
                 <tr>
                     <td class="title95">@BaseRes.USE_ADD_001</td>
                     <td>
                         @if (Model.UserID.Equals("admin"))
                         {
                             <input type="text" class="easyui-textbox filewidth_n" id="UserId" name="UserId" value="@Model.UserID" />
                         }
                         else
                         {
                             <input type="text" class="easyui-textbox filewidth_n" id="UserId" name="UserId" value="@Model.UserID" readonly="readonly" />
                         }
                     </td>
                     <td class="title95"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td class="title95">@BaseRes.USE_ADD_004</td>
                     <td>
                         <input type="password" class="easyui-textbox filewidth_n" id="Password" name="Password" value="" />
                     </td>
                     <td class="title95"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td class="title95">@BaseRes.USE_ADD_005</td>
                     <td>
                         <input type="password" class="easyui-textbox filewidth_n" id="Password1" name="Password1" value="" />
                     <td class="title95"></td>
                     <td></td>
                 </tr>
                 <tr>
                     <td colspan="4">
                         <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                             <a class="easyui-linkbutton width80" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="editUser()">保存</a>
                         </div>
                     </td>
                 </tr>
             </table>
         </form>
     </div>*@

    <div id="layout_div" class="easyui-layout" fit="true" style="display: none"></div>
    <div class="login-bg"></div>
    <div id="loginbox" style="width:250px">
        <form id="userEditForm" action="/PwdReset/Index" class="easyui-form" method="post">
            
            <div id="logo" style="width:250px">
                <img src="~/Content/images/logo_nw.png" alt="" />
            </div>
            <p style="color: #FFFFFF;">@BaseRes.LGN_CTL_001</p>
            <div class="control-group " style="margin-top:10px;">
                <div class="controls">
                    <div class="input-prepend">
                        <span style="display:block; width:60px; float:left; color:#FFFFFF">@BaseRes.USE_ADD_001</span>
                        @if (Model.UserID.Equals("admin"))
                        {
                            <input type="text" class="easyui-textbox filewidth_n" id="UserId" name="UserId" value="@Model.UserID" />
                        }
                        else
                        {
                            <input type="text" class="easyui-textbox filewidth_n" id="UserId" name="UserId" value="@Model.UserID" readonly="readonly" />
                        }
                    </div>
                </div>
            </div>
            <div class="control-group" style="margin-top:10px;">
                <div class="controls">
                    <div class="input-prepend">
                        <span style="display:block; width:60px; float:left; color:#FFFFFF">@BaseRes.USE_ADD_004</span>
                        <input type="password" class="easyui-textbox filewidth_n" id="Password" name="Password" value="" data-options="validType:'length[0,64]'" />
</div>
                </div>
            </div>
            <div class="control-group mrt8" style="margin-top:10px;">
                <div class="controls">
                    <div class="input-prepend">
                        <span style="display:block; width:60px; float:left; color:#FFFFFF">@BaseRes.USE_ADD_005</span>
                        <input type="password" class="easyui-textbox filewidth_n" id="Password1" name="Password1" value="" data-options="validType:'length[0,64]'" />
</div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-right">
                    <a id="btnLogin" class="easyui-linkbutton c6  l-btn bgcolor" style="width: 215px; height: 30px;"  href="javascript:void(0)" onclick="editUser()">保存</a> 
                </span>
            </div>
        </form>
    </div>



    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easyui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/easyui-lang-zh_CN.js")" type="text/javascript"></script>
    <script>


    //修改
    function editUser() {

        var isValid = $('#userEditForm').form('validate');
        console.log(isValid);
        if (!isValid) {
            return;
        }

        if (getUserIdInputCheck(self) == false) return;

        var newPsw1 = document.getElementById('Password').value;
        var newPsw2 = document.getElementById('Password1').value;
        var userid = document.getElementById('UserId').value;

        if ($('#Password').val().replace(/(^s*)|(s*$)/g, "").length == 0) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '密码不能为空！', 'info');
            $("input", $("#Password").next("span")).focus();
            return false;
        }
        if ($('#Password').val() != $('#Password1').val()) {
            $.messager.alert('@BaseRes.COM_CTL_NOTICE', '两次密码不一致！', 'info');
            $("input", $("#Password").next("span")).focus();
            return false;
        }

        $.ajax({
            type: "post",
            url: "/PswdReset/Edit",
            data: { userId: userid, newPsw1: newPsw1, newPsw2: newPsw2 },
            dataType: "json",
            success: function (json) {
                if (json.status == 1) {
                    //成功
                    $.messager.alert('@BaseRes.COM_CTL_NOTICE', json.message, 'info', function () {
                        window.location.href = '/Login/Index';
                    });

                }
                else {
                    //失败
                    $.messager.alert('@BaseRes.COM_CTL_NOTICE', json.message, 'info');
                    }


                }
            })
        }

        function getUserIdInputCheck() {


            if ($("#UserId").val().trim().length <= 0) {
                $.messager.alert('@BaseRes.COM_CTL_NOTICE', '@BaseRes.LGN_MSG_001', 'info');
            return false;
        }

        return true;
    }


    </script>
</body>
</html>